@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}


.board {
    text-align: center;
    
}

.board .leaderboard{
    margin-bottom: 1em;
    align-items: center;
}


#profile{
    margin-top: 1em;
}

#profile .flex{
    display: flex;
    gap: 1em;
    text-align: left;
    margin-bottom: 1em;
    padding-right: 10em;
    padding-left: 10em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 5rem;
}

#profile .flex .info{
   padding: .5em;
}

.text{
    color: #2b2b27;
}

#profile .flex .item .fulluser{
    display:flex;
    flex-direction:column;
}
