@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}



.board {
    text-align: center;
    
}

.board .leaderboard{
    margin-bottom: 1em;
    align-items: center;
}


#profile{
    margin-top: 1em;
}

#profile .flex{
    display: flex;
    gap: 1em;
    text-align: left;
    margin-bottom: 1em;
    padding-right: 10em;
    padding-left: 10em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 5rem;
}

#profile .flex .info{
   padding: .5em;
}

.text{
    color: #F3F3F2;
}

.image-container {
    position: relative;
  }
  
.gorro-image {
    position: absolute;
    top: 0;
    left: 0;
  }
  
.skin-image {
    position: relative;
  }

.item {
    display: flex;
    align-items: center;
}