@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.all{
  font-family: "Poppins", cursive;
  margin: 0;
}

.board {
    text-align: center;
}

.leaderboard {
    margin-bottom: 1em;
    align-items: center;
}

#profile {
    margin-top: 1em;
}



#profile .flex {
    display: flex;
    gap: 1em;
    text-align: left;
    margin-bottom: 1em;
    padding-right: 10em;
}

.flex .item {
    display: flex;
    align-items: center;
}

#profile .flex img {
    width: 5rem;
}



.text {
    color: #2b2b27;
}

#profile .flex .item .fulluser {
    display: flex;
    flex-direction: column;
}

/* User-specific styles */


.userrank {
    color: #2b2b27;
}


.buttoncontainer {
    display: flex;
    justify-content: center;
}

.userskin {
    position: relative;
    z-index: 1;
  }
  
  .userhat {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .itemcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .itemnumber {
    font-size: 50px; /* Add this line and adjust the value as needed */
    color: #d60e0e;
  }
  
  .itemnumber,
  .fulluser,
  .info {
    margin-right: 1px; /* Add spacing between the elements */
    width:4.2rem;
  }

  
  .userskin,
  .userhat {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .info {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .region {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
  }
  
  .score {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    white-space: nowrap;
    padding: 10px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-bottom: -1px; /* Add this line */
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }

  .table td {
    padding: 10px;
    border: 1px solid rgb(124, 30, 46);
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
  }

  .tablecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 50em;
    margin: auto;
    margin-top: 2rem;
    border: 0.5em solid rgb(124, 30, 46);
    border-spacing: 0;
    table-layout: fixed;
  }