
.input_group{
    @apply flex border rounded-xl;
    position:relative;
}



.button{
    @apply w-full bg-gradient-to-r from-blue-500 to-cyan-500;
    @apply py-3 text-gray-50 text-lg;
    @apply border border-blue-500;
    @apply rounded-md;
}

.button:hover{
    @apply bg-gradient-to-r from-white;
    @apply text-black;
    @apply border border-blue-700;
}

.button_custom{
    @apply w-full border border-black py-2 flex justify-center gap-2 hover:space-x-8;
}

.button_custom:hover{
    @apply bg-gradient-to-r from-gray-300 to-gray-300;
    @apply text-black;
    @apply border border-black;
}
.input_text{
    @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none;
}

.input_text+ *{
    color: #cbd5e1;
}

/* .input_text:focusnot([type=email],[type=usermane]) + *{
    color: #ff0033;
} */

.input_text:not([type=email],[type=usermane]) ~ span:hover *{
    color:#421ff0;
    cursor: pointer;
}

.password_button{
    color:#421ff0;
    cursor: pointer;
}