@font-face {
  font-family: cinzel-regular;
  src: url('../../public/fonts/cinzel/Cinzel-Regular.otf');
}

@font-face {
  font-family: cinzel-bold;
  src: url('../../public/fonts/cinzel/Cinzel-Bold.otf');
}