.background::before{
    content:'';
    background-image: url("../../public/pages_imgs/Fondo_juego.jpg");
    opacity: 0.25;
    position: absolute;
    background-size: cover;
    inset: 0;
}

.allInside{ 
    /*Aislamos los componentes de adentro para evitar
    que la opacidad de la imagen de fondo de la página se aplique
    a otros elementos*/
    isolation: isolate;
}

.logoDiv{
    text-align: center;
    margin-top: 3vh;
}

.logo{
    width: 6.5rem;
    height: 25vh;
}

.background h2{
    text-align: center;
    font-family: cinzel-bold;
    font-size: 1.4rem;
    margin-top: 1.3vh;
}

.submitForm{
    margin-top: 4.5vh;
}

.gridInputs{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 2.5vh;
    column-gap: 5vw;
}

.gridInputs input{
    width: 12em;
    height: 3.1vh;
    font-size: 1rem;
    padding: 0.5em;
    border: solid 1px;  
    justify-self: end;
} 

.gridInputs input:nth-child(even){
    justify-self: start;
} 

.gridInputs select{
    width: 13.15rem;
    height: 6vh;
    font-size: 1rem;
    padding: 0.4em;
    border: solid 1px;  
    justify-self: end;
}

.gridInputs select:nth-child(even){
    justify-self: start;
} 

.defaultSelectOption{
    text-decoration: #999999;
}

/* .selection[value=""] { */
/* .selection:invalid { */
/* .allInside ::select{     */
/* .select.selector{ */
/* .select * { */
.gridInputs select[value=""]{
    color:aliceblue;
    text-decoration: #999999;
}

.gridInputs input:hover{
    outline:solid 1.8px;
}

.gridInputs select:hover{
    border:solid 1.8px;
}

.submitForm h3{
    text-align: center;
    font-family: cinzel-regular;
    font-size: 1.2rem;
    margin-top: 3.8vh;   
}

.buttonDiv {
    display:flex;
    justify-content: center;
    margin-top: 1vh;
}
 
.button{
    /* margin-top: 0vh; */
    border: transparent;
    background-color: transparent;
}

.button img{
    height: 7vh;
    width: 9rem; 
}

.button:hover{
    /* box-shadow: 0 0 20px -10px rgba(0,0,0,150);  */
    transform: scale(1.03);
    cursor: pointer;
}

.button:active{
    filter: brightness(0.98);
    transform: scale(1.08);
    cursor: pointer;
}

.loginLink{
    text-align: center;
    font-family: cinzel-regular;
    font-size: 1.05rem;
}

.loginLink a{
    color:mediumblue;
    text-decoration: none;
}

.loginLink a:hover{
    text-decoration:underline;
}

.loginLink a:active{
    color:rgb(68, 68, 242);
}

.loginLink:visited{
    text-decoration:line-through;
}

.allInside footer{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 50vw;
    margin-top: 4vh;
    text-align: center;
    font-family: cinzel-regular;
    font-size: 1rem;
}

@font-face {
    font-family: cinzel-regular;
    src: url('../../public/fonts/cinzel/Cinzel-Regular.otf');
}

@font-face {
    font-family: cinzel-bold;
    src: url('../../public/fonts/cinzel/Cinzel-Bold.otf');
}

