.Background{
    position: relative;
}

.Background::before{
    content:'';
    background-image: url("../../public/pages_imgs/Fondo_juego.jpg");
    opacity: 0.45;
    position: absolute;
    background-size: cover;
    inset: 0;
}

.AllInside{
    isolation: isolate;
}

.logo{
    text-align: center;
    margin-top: 30px;
}

.Background h2{
    text-align: center;
    font-family: cinzel-bold;
    font-size: 35px;
    margin-top: 2rem;
}

.gridInputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.gridInputs input{
    font-size: large;
    padding: 10px;
    border: solid 1px;   
    margin: 6px;
}
 
.Butts{
    background-image: url('../../public/buttons/JOIN.png');
    background-size: cover;    
    margin: 15px;
    width: 200px;
    height: 62px;
    border: transparent;
    background-color: transparent;
}

.Butts:hover{
    box-shadow: 0 0 5px 1.3px rgba(0,0,0,50);
}

.Butts:active{
    box-shadow: 0 0 8px 3px rgba(0,0,0,200);
}

.LoginButton {
    display:flex;
    justify-content: center;
    margin: 15px;
}

.AllInside footer{
    text-align: right;
    font-family: cinzel-regular;
}

@font-face {
    font-family: cinzel-regular;
    src: url('../../public/fonts/cinzel/Cinzel-Regular.otf');
}

@font-face {
    font-family: cinzel-bold;
    src: url('../../public/fonts/cinzel/Cinzel-Bold.otf');
}

