.Background::before{
    content:'';
    background-image: url("../../public/pages_imgs/Fondo_juego.jpg");
    opacity: 0.25;
    position: absolute;
    background-size: cover;
    inset: 0;
}

.AllInside{
    isolation: isolate;
}

.bigTextDiv{
    display:grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
    
}

.bigTextDiv h2{
    text-align: center;
    font-family: cinzel-bold;
    font-size:3.6vh;
}

.bigTextDiv h3{
    text-align: center;
    font-family: cinzel-regular;
    font-size:2.6vh;
}

.submitForm{
    display:grid;
    height: 20vh;
    justify-content: center;
    align-items: center;
    
}

.submitForm input{
    height: 5vh;
    width: 40vh;
    font-size: 2vh;
}

.submitForm button{
    height: 5vh;
    font-size: 2vh;
}



@font-face {
    font-family: cinzel-regular;
    src: url('../../public/fonts/cinzel/Cinzel-Regular.otf');
}

@font-face {
    font-family: cinzel-bold;
    src: url('../../public/fonts/cinzel/Cinzel-Bold.otf');
}
