table {
    border: 0.5em solid rgb(124, 30, 46);
    width: 50em;
    height: 10em;
    margin: auto;
    margin-top: 2rem;
}
 
th {
    border-bottom: 0.5em solid rgb(189, 45, 45);
}
 
td {
    text-align: center;
    display: flex;
}

.stats {
    display: flex;
}